h1{
  font-size: 44.1px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px; /* 142.857% */
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

section{
  padding:30px;
  height: auto;
  display: flex;
  flex-direction:  column;
  align-items: center;
}

.badge{
  width: 67px;
  height: 24px;
  display: inline-flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  background: #F3F4F6;
  font-family: 'Sometype Mono', monospace;
}



.square{
  border-radius: 4px;
}

.pill{
  border-radius: 12px;
}

.grey{
  color : #1F2937;
  background: #F3F4F6;
  }

.red{
  color : #991B1B;
  background: #FEE2E2;
}

.yellow{
  color: #92400E;
  background: #FEF3C7;
}

.green{
  color: #065F46;
  background:#D1FAE5;
}

.blue{
  color: #1E40AF;
  background: #DBEAFE;
}

.indigo{
  color: #3730A3;
  background: #E0E7FF;
}

.purple{
  color: #5B21B6;
  background: #EDE9FE;
}

.pink{
  color: #9D174D;
  background: #FCE7F3;
}

.oneLiner{
  width: 70%;
  display: flex;
}

.label{
  font-family: 'Permanent Marker', cursive;
  min-width: 60px;
  display: flex;
  justify-content: end;
}
.box{
  display: flex;
 
  justify-content: space-evenly;
  flex-wrap: wrap;
}