
.badge{
  width: 67px;
  height: 24px;
  display: inline-flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  background: #F3F4F6;
  font-family: 'Sometype Mono', monospace;
}

.square{
  border-radius: 4px;
}

.pill{
  border-radius: 12px;
}

.oneLiner{
  width: 70%;
  display: flex;
}

.label{
  font-family: 'Permanent Marker', cursive;
  min-width: 60px;
  display: flex;
  justify-content: end;
}
.box{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}