body{
  position: relative
}
section:nth-child(odd){
  background-color: rgb(201, 201, 201);
}
section:nth-child(even){
  background-color: rgb(176, 175, 175);
}


h1{
  font-size: 44.1px;
  font-style: normal;
  font-weight: 400;
  line-height: 63px; /* 142.857% */
  margin: 0;
}

section{
  padding:30px;
  height: auto;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.permaMarker{
  font-family: 'Permanent Marker', cursive;
}

#portal{
  position: absolute;
  right: 10px;
  bottom : 10px;
}
